<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>上传博客</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <script src="https://cdn.tiny.cloud/1/rq5eg1xkg8hy7qutk92g7xldgzi4huwzwkmaz6gxn9c9sd9e/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <!-- 引入 PrismJS -->
    <link href="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/themes/prism.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/prism.js"></script>
    <!-- 引入自定义 JavaScript -->
    <script src="/js/custom-tinymce.js"></script>
</head>
<body>
<div th:replace="fragments/header"></div>

<div class="container">
    <h2>上传新博客</h2>
    <form action="/blogs/upload" method="post">
        <div class="form-group">
            <label for="title">标题:</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div class="form-group">
            <label for="content">内容:</label>
            <textarea id="content" name="content" rows="10"></textarea>
        </div>
        <button type="submit">提交</button>
    </form>
</div>
<script>
    tinymce.init({
      selector: '#content', // 之前设置的textarea的id
      plugins: 'code', // 仅保留'code'插件
      toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | code' // 移除图像按钮，保留代码按钮
    });
</script>

</body>
</html>
